table {
    width: 900px;
    font-family: sans-serif;
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
  }
  
  th, td {
    padding: 9px;
    color: #000000;
  }
  
  th {
    text-align: left;
  }
  
  th {
    background-color: #55608f;
  }
  
  tbody {
    background-color: rgb(13, 68, 119);
  }
  
  tbody tr:hover {
    background-color: #ffffff4d; 
  }
    
  tbody td:hover {
    background-color: #cccccc4d; 
  }
  